/* Page styles */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://res.cloudinary.com/dp1ehadna/image/upload/v1728407438/ksenia-yakovleva-YT6COuf1gY0-unsplash_oqssmv.jpg") no-repeat center/cover fixed;
}

form {
    max-width: 500px;
}

.blue-button {
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 50px;
}

.large-button {
    width: 200px;
}

input[type="submit"], input[type="reset"] {
    border: 0;
}

/* Utility classes */

.hide {
    display: none;
}

.show {
    display: block;
}

/* Header styles */

header, nav {
    background-color: darkblue;
    color: white;
}

header .nav-link, header .navbar-brand {
    color: white;
}

.active {
    text-decoration: underline;
}

.navbar-toggler {
    color: white;
    border-color: white; 
}

.navbar-toggler-icon {
    /* Provides an icon for the navbar on mobile view */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse {
    text-align: center;
}

#login-status {
    height: 28px;
}

/* Index styles */

.main-text {
    color: white;
    text-align: center;
    margin-top: 48px;
}

.blue-button:hover {
    background-color: rgb(0, 0, 190);
}

/* Register and login page */

#register, #login {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#register label, #login label {
    color: white;
    width: 150px;
    text-align: center;
    width: 100%;
}

#register input, #login input {
    width: 100%;
}

#register-alert {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

/* MedHub styles */

.card-title {
    color: yellow;
}

.card {
    width: 300px;
    background-color: darkblue;
    margin: 10px;
    color: white;
    border: 1px solid white;
}

/* Footer styles */

footer {
    background-color: darkblue;
    color: white;
}
