/* Page styles */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dp1ehadna/image/upload/v1727786284/ksenia-yakovleva-YT6COuf1gY0-unsplash_eexhzz.jpg") no-repeat center/cover fixed;
}

/* Header styles */

header, nav {
    background-color: darkblue;
    color: white;
}

header .nav-link, header .nav-brand {
    color: white;
}

.nav-link:focus, .nav-link:focus, .nav-link:focus-visible {
    text-decoration: underline;
    color: white;
}

/* Footer styles */

footer {
    background-color: darkblue;
    color: white;
}
